<div class="container" id="feedback">
  <h3 class="mobile">Il parere degli esperti su <span>DIMA - SAN</span></h3>
  <div class="feedback">
    <div class="feedback-text">
      <h3>Il parere degli esperti su <span>DIMA - SAN</span></h3>
      <p class="doctor">
        Andrea Howard, dietologa, specialista in alimentazione, esperienza
        pratica – 15 anni.
      </p>
      <h4>
        <span
          >Le proprietà disintossicanti e bruciagrassi sono state analizzate su
          più di 2.000 prodotti alimentari, tutti allo scopo di sviluppare DIMA
          - SAN.</span
        >
        Sulla base dei dati ottenuti, è stata sviluppata una formula unica per
        bruciare i grassi, che funziona secondo il bioritmo umano.
      </h4>
      <p>
        Gli oligoelementi stimolano il processo di pulizia, regolano la
        sensazione di fame e accelerano il metabolismo.
      </p>
      <p>
        DIMA-SAN supporta in modo ottimale il corpo con gli elementi necessari,
        allevia la fame, la stanchezza e l'ansia. DIMA-SAN dona salute e
        dimagrimento naturale in piu garantisce ottimi risultati per lungo
        tempo, dopo la fine del suo utilizzo del prodotto, i kg persi non
        torneranno per almeno 2-3 anni come minimo. Per questo raccomando ai
        miei pazienti l'integratore biologico DIMA-SAN.
      </p>
    </div>
    <div class="feedback-image">
      <img src="/assets/dima-san.png" alt="tablets" />
    </div>
  </div>
</div>
