.container {
  background-color: #c2deff;
  padding: 70px 0;
  position: relative;
  max-width: 1900px;

  .mobile {
    display: none;
  }

  .feedback {
    display: flex;
    gap: 40px;
    justify-content: center;

    &-text {
      font-weight: 500;
      font-size: 18px;
      max-width: 730px;
      width: 40%;
      margin-left: 10px;

      h3 {
        font-weight: 700;
        font-size: 35px;

        span {
          color: #36c27a;
        }
      }

      .doctor {
        font-weight: 600;
        font-size: 20px;
        margin-top: 0;
      }
      h4 {
        font-weight: 600;

        span {
          color: #1b7748;
        }
      }
    }
    &-image {
      max-width: 780px;
      width: 50%;
      min-height: 520px;
      height: auto;
      background-image: url(/assets/feedback-image.png);
      background-repeat: no-repeat;
      border-radius: 15px;
      position: relative;

      img {
        position: absolute;
        bottom: -90px;
        right: -20px;
        width: 450px;
        height: 365px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    .mobile {
      display: block;
      font-weight: 700;
      font-size: 35px;
      text-align: center;

      span {
        color: #36c27a;
      }
    }

    .feedback {
      flex-direction: column-reverse;
      align-items: center;

      &-text {
        font-weight: 500;
        font-size: 24px;
        max-width: 900px;
        width: 90%;
        margin-left: 10px;
        text-align: center;

        h3 {
          display: none;
        }

        .doctor {
          font-size: 26px;
        }
      }
      &-image {
        margin-top: 0;
        width: 90%;
        min-height: 520px;
        height: auto;
        background-size: cover;

        img {
          top: 270px;
          right: 0px;
          width: 370px;
          height: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    .mobile {
      display: block;
      font-weight: 700;
      font-size: 25px;
      text-align: center;
    }

    .feedback {
      &-text {
        font-size: 15px;

        .doctor {
          font-size: 15px;
        }
      }
      &-image {
        margin-top: 0;
        width: 100%;
        max-height: 520px;
        height: 250px;
        min-height: 0;

        img {
          top: 150px;
          right: 30px;
          width: 150px;
          height: auto;
        }
      }
    }
  }
}
