<div class="main-view">
  <article>
    <div class="main-view-content">
      <div class="main-view-logo">
        <img src="/assets/Logo1.png" alt="logo" />
      </div>
      <div class="line"></div>
      <div>
        <p class="main-view-text">
          <span>È una formula naturale garantita</span> per una perdita di peso
          efficace senza danni per la salute del tuo corpo. Sblocca metabolismo,
          depura corpo dalle tossine e scorie, elimina i liquidi in eccesso e il
          grasso viscerale.
        </p>
      </div>
      <div class="main-view-points">
        <div class="point point-first">
          <div class="icon-done">
            <img src="/assets/Vector.png" alt="done" />
          </div>
          <p>Prevenzione di diverse patologie</p>
        </div>
        <div class="point">
          <div class="icon-done">
            <img src="/assets/Vector.png" alt="done" />
          </div>
          <p>Leggerezza e vitalità</p>
        </div>
        <div class="point point-last">
          <div class="icon-done">
            <img src="/assets/Vector.png" alt="done" />
          </div>
          <p>Sazietà con poco cibo</p>
        </div>
      </div>
      <div class="main-view-price">
        <div class="price">
          <div class="old-price">
            <p>98 euro</p>
          </div>
          <div class="new-price">
            <p>49 euro</p>
          </div>
        </div>
        <button
          routerLinkActive="router-link-active"
          (click)="scrollTo()"
          class="order active hover"
        >
          Ordinare ora
        </button>
      </div>
    </div>
  </article>
</div>
