<div class="container">
  <div class="footer">
    <div class="footer-info">
      <img src="/assets/Logo 1.png" alt="logo" />
      <div class="info">
        <p (click)="scrollTo()">Opinione dell'esperto</p>
        <p (click)="scrollTo()">Benefici</p>
        <p (click)="scrollTo()">Composizione del prodotto</p>
        <p (click)="scrollTo()">Recensioni</p>
        <p (click)="scrollTo()" class="main">Ordinare</p>
      </div>
    </div>
    <div class="copyright">
      <p (click)="openDialog()">Politica sulla riservatezza</p>

      <p class="rights">© All rights reserved 2022</p>
    </div>
  </div>
</div>
