<div class="statistic">
  <div class="statistic-background">
    <img class="molecula-1" src="/assets/molecula 1.png" alt="molecula" />
    <img class="molecula-2" src="/assets/molecula 3.png" alt="molecula" />
    <img class="molecula-3" src="/assets/molecula 4.png" alt="molecula" />
    <img class="molecula-4" src="/assets/molecula 5.png" alt="molecula" />
    <div class="statistic-block block-1">
      <div class="statistic-info">
        61%
        <span>delle persone</span>
      </div>
      <p>9-12 kg al mese</p>
    </div>
    <div class="statistic-block block-2">
      <div class="statistic-info">
        29%
        <span>delle persone</span>
      </div>
      <p>6-8 kg al mese</p>
    </div>
    <div class="statistic-block block-3">
      <div class="statistic-info">
        7%
        <span>delle persone</span>
      </div>
      <p>Meno di 5 kg al mese</p>
    </div>
    <div class="statistic-block block-4">
      <div class="statistic-info">
        3%
        <span>delle persone</span>
      </div>
      <p>3-4 kg al mese</p>
    </div>
  </div>
</div>
