<div class="container">
  <article>
    <div class="process">
      <div class="shop">
        <img src="/assets/buy.png" alt="shoping" />
        <h3>EFFETTUARE L’ORDINE</h3>
        <p>
          Subito dopo aver compilato il modulo per l’ordine vi Contatterà un
          manager per confermare l’ordine.
        </p>
      </div>
      <div class="delivery">
        <img src="/assets/deliver.png" alt="delivery" />
        <h3>SPEDIZIONE</h3>
        <p>
          I tempi di consegna dipendono dalla tua regione, ma non superano i 14
          giorni. Non preoccuparti per il tuo ordine!
        </p>
      </div>
      <div class="boxing">
        <img src="/assets/box.png" alt="boxing" />
        <h3>PAGAMENTO</h3>
        <p>Pagamento in contrassegno, quando arriva a corriere</p>
      </div>
      <div class="garant">
        <img src="/assets/garant.png" alt="garant" />
        <h3>GARANZIE</h3>
        <p>
          Effettuando un acquisto nel nostro negozio online si può essere sicuri
          dell'alta qualità della merce.
        </p>
      </div>
    </div>
  </article>
</div>
