<div class="container">
  <div class="pop-up">
    <div class="header">
      <img src="/assets/Logo 1.png" alt="Logo">
      <p>Offriamo una promozione speciale per tutti i nostri clienti!</p>

    </div>
    <div class="image">
      <img src="/assets/dima-san.png" alt="tablets">
      <div class="text">
        <p> Ultima occasione:  Approfitta della promozione, disponibilità limitata!</p>
        <h3> Sconto 50%</h3>
        <div class="order-button"  (click)="onNoClick()">
          Ordinare
        </div>
      </div>
    </div>
  </div>
</div>
