<div class="container" id="slider">
  <h2>Recensioni su <span>DIMA - SAN</span></h2>
  <wts-slider [options]="options">
    <div slider class="slide-1">
      <div class="slide-block">
        <div class="image">
          <img src="/assets/slider-result-1.png" alt="rersonal-result" />
        </div>
        <div class="info">
          <div class="info-person">
            <h3>Isabella <span>37 anni</span></h3>
          </div>
          <div class="rating">
            <img src="/assets/score.png" alt="stars" />
          </div>
          <div class="feedback">
            <p>
              Ho perso peso chili con Dima San un anno fa. Ancora più
              importante, Dima San non solo mi ha aiutato a perdere 20 chili, ma
              ha anche purificato il mio corpo. Il mio stomaco non fa più male,
              non ho allergie e mi sento piena di energia.
            </p>
          </div>
          <div class="date">
            <p>19.03.2023</p>
          </div>
        </div>
      </div>
    </div>
    <div slider class="slide-2">
      <div class="slide-block">
        <div class="image">
          <img src="/assets/slider-result-2.png" alt="rersonal-result" />
        </div>
        <div class="info">
          <div class="info-person">
            <h3>Martin <span>39 anni</span></h3>
          </div>
          <div class="rating">
            <img src="/assets/score.png" alt="stars" />
          </div>
          <div class="feedback">
            <p>
              Il desiderio di carboidrati e dolci è andato via, la perdita di
              peso non si e fatta aspettare. Molto soddisfatta del prodotto.
            </p>
          </div>
          <div class="date">
            <p>01.05.2023</p>
          </div>
        </div>
      </div>
    </div>
    <div slider class="slide-3">
      <div class="slide-block">
        <div class="image">
          <img src="/assets/slider-result-3.png" alt="rersonal-result" />
        </div>
        <div class="info">
          <div class="info-person">
            <h3>Monika <span>47 anni</span></h3>
          </div>
          <div class="rating">
            <img src="/assets/score.png" alt="stars" />
          </div>
          <div class="feedback">
            <p>
              Ciao a tutti) ho assunto dima-san per 3 mesi)) ho perso 15 kg, non
              ho fatto attività fisica insensa, solo un po' di ginnastica e
              qualche camminata. Ora mi sento molto bene. Penso di continuare il
              trattamento, se mi andrà di dimagrire ancora di più. Lo consiglio,
              il prodotto per me è molto valido!
            </p>
          </div>
          <div class="date">
            <p>16.06.2023</p>
          </div>
        </div>
      </div>
    </div>
  </wts-slider>
</div>
