<div class="container" id="tablets-info">
  <div class="tablets">
    <div class="tablets-info">
      <div class="info-header">
        <div class="text-header">
          <h3>DIMA-SAN</h3>
          <p>DISTRUGGI TUTTI GLI STEREOTIPI SULLA DIETA</p>
        </div>
        <div class="logo-header">
          <img src="/assets/bio.png" alt="logo-bio">
        </div>
      </div>
      <div class="main-info">
        <p>
          <span>La formula Dima San è stata creata per le persone che, per vari motivi di salute, non possono svolgere attività fisica. </span>
          <br>
          <br>
          Prodotto 100% naturale con formula brevettata. Poiché questo è l'unico prodotto che ha mostrato risultati reali, per tutti
          i partecipanti all'esperimento, 8375 persone di peso superiore a 15-38 kg sopra norma, di età compresa tra 37 e 68 anni,
          con vari problemi di salute, i risultati di un mese di utilizzo, vedere la tabella sopra.</p>
      </div>
    </div>
    <div class="tablets-pluses-block">
      <div class="tablets-pluses">
        <div class="plus-block">
          <p>Migliora la digestione</p>
        </div>
        <div class="plus-block">
          <p>Equilibra là flora intestinale</p>
        </div>
        <div class="plus-block">
          <p>Distrugge grasso viscerale.</p>
        </div>
        <div class="plus-block">
          <p>Normalizza sfondo ormonale.</p>
        </div>
      </div>
      <div class="tablets-image">
        <div class="image">
          <img src="/assets/dima-san.png" alt="tablets-pack">
        </div>
      </div>
    </div>

  </div>
</div>
