<div class="container" id="ingredients">
  <div class="ingredients">
    <h3>I principi attivi di <span>DIMA - SAN</span></h3>
    <div class="ingredients-grid">
      <div class="mate hover" (click)="openDialog(0)">
        <p>MATE (Ilex paraguariensis St. Hill.)</p>
      </div>
      <div class="gymnema hover" (click)="openDialog(1)">
        <p>Gymnema sylvestre</p>
      </div>
      <div class="amaro hover" (click)="openDialog(2)">
        <p>L'arancio amaro</p>
      </div>
      <div class="ginger hover" (click)="openDialog(3)">
        <p>Ginger rhizome dry extract</p>
      </div>
      <div class="carnitina hover" (click)="openDialog(4)">
        <p>La L-carnitina e l'acetil-L-carnitina</p>
      </div>
    </div>
  </div>
</div>
