<div class="container" id="ingredients">
  <article>
    <div class="ingredients">
      <h3>I principi attivi di <span>DIMA - SAN</span></h3>
      <div class="ingredients-grid">
        <section class="mate hover" (click)="openDialog(0)">
          <p>MATE (Ilex paraguariensis St. Hill.)</p>
        </section>
        <section class="gymnema hover" (click)="openDialog(1)">
          <p>Gymnema sylvestre</p>
        </section>
        <section class="amaro hover" (click)="openDialog(2)">
          <p>L'arancio amaro</p>
        </section>
        <section class="ginger hover" (click)="openDialog(3)">
          <p>Ginger rhizome dry extract</p>
        </section>
        <section class="carnitina hover" (click)="openDialog(4)">
          <p>La L-carnitina e l'acetil-L-carnitina</p>
        </section>
      </div>
    </div>
  </article>
</div>
