<div class="container">
  <div class="close" (click)="onNoClick()"><img src="/assets/Close.png" alt="close"></div>
  <div class="privacy">
    <h3>La tua privacy</h3>
    <p>La tua privacy è importante per noi. Per proteggere meglio la tua privacy, forniamo questa informativa che spiega le nostre pratiche di informazione online e le scelte che puoi fare sul modo in cui le tue informazioni vengono raccolte e utilizzate. Per rendere questo avviso facile da trovare, lo rendiamo disponibile sulla nostra homepage e in ogni punto in cui possono essere richieste informazioni di identificazione personale.</p>
    <p>Anche altri ad server o reti pubblicitarie di terze parti possono utilizzare i cookie per tracciare le attività degli utenti su questo sito Web per misurare l'efficacia della pubblicità e altri motivi che verranno forniti nelle proprie politiche sulla privacy, il sito Web non ha accesso o controllo su questi cookie che potrebbero essere utilizzati da inserzionisti terzi.</p>
    <h3>Raccolta di informazioni personali</h3>
    <p>Quando si visita questo sito Web, l'indirizzo IP utilizzato per accedere al sito verrà registrato insieme alle date e agli orari di accesso. Queste informazioni vengono utilizzate esclusivamente per analizzare le tendenze, amministrare il sito, tracciare i movimenti degli utenti e raccogliere ampie informazioni demografiche per uso interno. Ancora più importante, gli indirizzi IP registrati non sono collegati a informazioni di identificazione personale.</p>
    <h3>Collegamenti a siti Web di terzi</h3>
    <p>Abbiamo incluso collegamenti su questo sito per il tuo uso e riferimento. Non siamo responsabili per le politiche sulla privacy di questi siti web. Dovresti essere consapevole del fatto che le politiche sulla privacy di questi siti potrebbero differire dalla nostra.</p>
    <h3>Modifiche alla presente Informativa sulla privacy</h3>
    <p>Il contenuto di questa informativa può essere modificato in qualsiasi momento, a nostra discrezione.</p>
  </div>
</div>
