<div class="container">
  <div class="design-circle first"></div>
  <div class="design-circle second"></div>
  <div class="guarantees">
    <div class="guarantees-image">
      <img src="/assets/result-1.png" alt="guarantees-result">
    </div>
    <div class="guarantees-text">
      <h3>Il risultato garantito fino a 12 kg in un mese: senza diete, sport, liposuzione e tanti altre cose.</h3>
      <p>Una persona consuma da 1750 a 2200 kcal al giorno per mantenere la sua forza: il lavoro del cervello, dell'intestino, dei muscoli,
        ecc. Con l'assunzione di Dima-San, i tuoi soliti pasti voluminosi si riducono fino al 50%, quindi il corpo consuma calorie dai
        depositi di grasso, cosi il metabolismo accelera fino al 203%, perderai fino a 4260 kcal al giorno, che equivalgono a 400 grammi
        di grasso o 1 cm di volume nella zona della vita.
      </p>

      <p>L'energia ottenuta in questo modo è molto più forte. Pertanto, sentirai immediatamente un'ondata di vivacità e la qualità del
        sonno migliorerà in modo significativo. Il complesso DIMA-SAN è certificato anche come integratore vitaminico naturale, quindi
        è utile non solo per perdere peso, ma anche per mantenere un sistema immunitario sano.
      </p>
    </div>
  </div>
</div>
